:root {
    --primary-color: #0101b3;
    --secondary-color: #fd8813;
    --darker-blue: #000091;
    --light-variant-blue: 1, 1, 179;
    --white-color: #fff;
    --yellow-color: #fdcc00;
}


html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    background-color: var(--white-color);
    line-height: 1.7;
    margin-top: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

input {
    height: 3rem;
}

.form-control:focus, .form-select:focus {
    box-shadow: 0 0 0 0.05rem rgba(1, 1, 209, 0.5);
}
.form-select {
    font-size: 18px;
}

a:not(.nav-link, .btn) {
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color) !important;
    border: var(--primary-color);
    font-weight: 600;
    letter-spacing: 1.5px;
    box-shadow: none;
}

.btn-primary:hover {
    background-color: var(--primary-color) !important;
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.7rem;
    color: var(--primary-color);
}

.navbar-brand:hover {
    font-weight: 700 !important;
    font-size: 1.7rem !important;
}

.navbar-brand:hover,
.navbar-brand:focus {
    font-weight: 600;
    color: var(--primary-color);
}

.navbar-toggler {
    font-size: 1.7rem;
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.text-orange {
    color: var(--secondary-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.text-yellow {
    color: var(--yellow-color) !important;
}

#hero {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding-top: 5.5rem !important;
    padding-bottom: 5.5rem !important;
}

#hero p {
    letter-spacing: 1.2px;
}

#hero-button {
    background-color: var(--white-color);
    color: var(--primary-color) !important;
    padding: 0.8rem 1.4rem;
    font-weight: 600;
    font-size: 1.06rem;
    transition: background-color 0.25s ease-in-out;
}

#hero-button:hover {
    background-color: var(--secondary-color) !important;
    color: var(--white-color) !important;
    border-color: var(--secondary-color) !important;
    box-shadow: none;
}

.section-padding {
    padding: 4rem 0;
}

.process i {
    color: var(--primary-color);
    font-size: 3rem;
    margin-bottom: 0.9rem;
}

.owl-nav {
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    z-index: 10;
}

.owl-nav .owl-prev,
.owl-next {
    font-size: 1.5rem !important;
    background-color: var(--secondary-color) !important;
    color: var(--white-color) !important;
    border-radius: 50%;
}

.owl-prev i, .owl-next i {
    padding: .6rem .8rem;
}

.owl-nav .disabled {
    opacity: 0.8;
}

.review {
    position: relative;
}

.review-icon {
    position: absolute !important;
    top: 3%;
    left: 3%;
    font-size: 2.4rem;
}

#contact-cta {
    background-color: var(--white-color);
    color: var(--primary-color) !important;
    padding: .6rem 1rem;
}

#contact-cta:hover {
    background-color: var(--white-color) !important;
    color: var(--primary-color) !important;
}

#footer {
    color: var(--white-color);
    background-color: var(--darker-blue);
}

#footer i {
    font-size: 1.6rem;
}

#footer .footer-link {
    color: var(--white-color) !important;
    justify-content: center !important;
    align-items: center !important;
    margin-right: .5rem;
    transition: all 0.5s ease;
}

#footer .footer-link:hover {
    color: var(--secondary-color) !important;
}

.accordion-item:not(:last-child) {
    margin-bottom: .5rem !important;
}
.accordion-item .accordion-button {
    background-color: var(--white-color) !important;
}

.accordion-item .accordion-button:focus {
    box-shadow: 0 0 0 0.05rem rgba(1, 1, 209, 0.5);
};

.template {
    position: relative;
    transition: all 0.5s ease;
}

.template .action {
    transition: all 0.5s ease;
}

.template .template-icon  {
    position: absolute;
    z-index: 10;
    font-size: 1.3rem;
    top: 3%;
    right: 5%;
}

.template .action {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(var(--light-variant-blue), .2);
    align-items: center;
    justify-content: center;
    display: none;
}

.template .action .btn {
    background-color: var(--secondary-color);
    color: var(--white-color) !important;
    z-index: 10;
    border-radius: .6rem;
    padding: .55rem 1rem !important;
}

.template .action .btn:hover {
    background-color: var(--secondary-color) !important;
    color: var(--white-color) !important;
}

.template:hover .action {
    display: flex;
}

.form-action-link {
    font-weight: 600;
}

span.service-icon {
    color: var(--secondary-color);
    font-size: 1.7rem;
}

.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: none;
}

.form-check-input:focus {
    box-shadow: none;
    border-color: var(--primary-color);
}

.text-primary {
    color: var(--primary-color) !important;
}

.dataTables_filter input {
    height: 2.5rem;
}

.dataTables_wrapper  .row:first-of-type {
    margin-bottom: 1rem !important;
}

.center-form-layout {
    margin: 4rem auto;
}


.cv-display {
    position: relative;
}

.cv-display .cv-display-icon {
    position: absolute;
    z-index: 10;
    font-size: 1.4rem;
    top: 3%;
    right: 10%;
}

.cv-display .action {
    transition: all 0.5s ease;
    display: none;
}

.cv-display .img-wrapper {
    position: relative;
}

.cv-display .action {
    width: 100%;
    position: absolute;
    background-color: transparent;
    bottom: 7%;
    display: none;
    justify-content: center;
}


.cv-display .action .btn {
    background-color: var(--secondary-color);
    color: var(--white-color) !important;
    z-index: 10;
    border-radius: 30px;
    padding: 0.9rem 1.1rem !important;
}

.cv-display .action .btn:hover {
    background-color: var(--secondary-color) !important;
    color: var(--white-color) !important;
}

.cv-display:hover .action {
    display: flex;
}


.outline-primary {
      border: .1rem solid var(--primary-color);
      padding: .6rem .8rem;
      transition: all .5s ease;
}

.outline-primary:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

textarea {
    resize: none;
}

#cv-view h5 {
    white-space: nowrap;
}

#userDetail p {
    white-space: nowrap;
}

.btn-primary:hover {
    opacity: .9;
}

.btn:disabled {
    opacity: .7;
}

.btn-primary:disabled {
    background-color: var(--primary-color);
    opacity: .7;
}








@media (max-width: 767.98px){
    .dataTables_length {
        margin-bottom: .8rem;
    }
}
